In [1]:
import pymongo
import pprint

In [2]:
# Replace XXXX with MongoDB database URL:
client = pymongo.MongoClient('XXXX')

In [3]:
trips = client.citibike.trips

In [71]:
# Replace XXXX with your aggregation pipeline to answer the question:
# Citibike trips that start at station id 279 end most frequently at what station id?
pipeline = [
    {"$match": {"start station id":279 }},
    {'$group' : { "_id" : "$end station id", 'sum' : {'$sum' : 1}}},
    {"$sort": {"sum": -1}}
    ]

In [72]:
# print the results
for trip in trips.aggregate(pipeline):
    pprint.pprint(trip)

{'_id': 279, 'sum': 137}
{'_id': 316, 'sum': 112}
{'_id': 259, 'sum': 104}
{'_id': 387, 'sum': 99}
{'_id': 224, 'sum': 86}
{'_id': 306, 'sum': 83}
{'_id': 268, 'sum': 80}
{'_id': 260, 'sum': 75}
{'_id': 308, 'sum': 73}
{'_id': 360, 'sum': 71}
{'_id': 3002, 'sum': 63}
{'_id': 361, 'sum': 57}
{'_id': 337, 'sum': 56}
{'_id': 487, 'sum': 55}
{'_id': 2009, 'sum': 54}
{'_id': 401, 'sum': 53}
{'_id': 307, 'sum': 52}
{'_id': 376, 'sum': 51}
{'_id': 502, 'sum': 51}
{'_id': 304, 'sum': 50}
{'_id': 501, 'sum': 47}
{'_id': 332, 'sum': 46}
{'_id': 2010, 'sum': 43}
{'_id': 232, 'sum': 43}
{'_id': 174, 'sum': 41}
{'_id': 291, 'sum': 39}
{'_id': 408, 'sum': 38}
{'_id': 195, 'sum': 37}
{'_id': 329, 'sum': 37}
{'_id': 511, 'sum': 36}
{'_id': 319, 'sum': 34}
{'_id': 415, 'sum': 34}
{'_id': 350, 'sum': 33}
{'_id': 264, 'sum': 33}
{'_id': 312, 'sum': 32}
{'_id': 531, 'sum': 32}
{'_id': 147, 'sum': 31}
{'_id': 386, 'sum': 30}
{'_id': 151, 'sum': 30}
{'_id': 327, 'sum': 30}
{'_id': 426, 'sum': 29}
{'_id': 341, 'sum': 29}
{'_id': 445, 'sum': 27}
{'_id': 152, 'sum': 26}
{'_id': 150, 'sum': 26}
{'_id': 320, 'sum': 26}
{'_id': 410, 'sum': 25}
{'_id': 394, 'sum': 25}
{'_id': 321, 'sum': 24}
{'_id': 428, 'sum': 24}
{'_id': 534, 'sum': 23}
{'_id': 476, 'sum': 23}
{'_id': 351, 'sum': 23}
{'_id': 257, 'sum': 23}
{'_id': 433, 'sum': 23}
{'_id': 249, 'sum': 23}
{'_id': 315, 'sum': 22}
{'_id': 276, 'sum': 22}
{'_id': 485, 'sum': 22}
{'_id': 263, 'sum': 22}
{'_id': 417, 'sum': 22}
{'_id': 295, 'sum': 21}
{'_id': 504, 'sum': 21}
{'_id': 427, 'sum': 21}
{'_id': 545, 'sum': 21}
{'_id': 296, 'sum': 20}
{'_id': 432, 'sum': 20}
{'_id': 392, 'sum': 20}
{'_id': 217, 'sum': 20}
{'_id': 455, 'sum': 20}
{'_id': 301, 'sum': 19}
{'_id': 532, 'sum': 19}
{'_id': 2008, 'sum': 19}
{'_id': 356, 'sum': 19}
{'_id': 461, 'sum': 19}
{'_id': 507, 'sum': 19}
{'_id': 340, 'sum': 18}
{'_id': 411, 'sum': 18}
{'_id': 524, 'sum': 18}
{'_id': 303, 'sum': 18}
{'_id': 355, 'sum': 18}
{'_id': 3119, 'sum': 18}
{'_id': 519, 'sum': 17}
{'_id': 339, 'sum': 17}
{'_id': 317, 'sum': 17}
{'_id': 309, 'sum': 16}
{'_id': 82, 'sum': 16}
{'_id': 297, 'sum': 16}
{'_id': 79, 'sum': 16}
{'_id': 393, 'sum': 15}
{'_id': 363, 'sum': 15}
{'_id': 516, 'sum': 15}
{'_id': 229, 'sum': 15}
{'_id': 460, 'sum': 15}
{'_id': 293, 'sum': 15}
{'_id': 331, 'sum': 15}
{'_id': 2004, 'sum': 14}
{'_id': 330, 'sum': 14}
{'_id': 349, 'sum': 13}
{'_id': 438, 'sum': 13}
{'_id': 285, 'sum': 13}
{'_id': 518, 'sum': 12}
{'_id': 250, 'sum': 12}
{'_id': 265, 'sum': 12}
{'_id': 473, 'sum': 12}
{'_id': 472, 'sum': 12}
{'_id': 322, 'sum': 12}
{'_id': 302, 'sum': 12}
{'_id': 146, 'sum': 12}
{'_id': 375, 'sum': 11}
{'_id': 412, 'sum': 11}
{'_id': 2012, 'sum': 11}
{'_id': 382, 'sum': 11}
{'_id': 400, 'sum': 10}
{'_id': 237, 'sum': 10}
{'_id': 527, 'sum': 10}
{'_id': 497, 'sum': 10}
{'_id': 2003, 'sum': 10}
{'_id': 347, 'sum': 9}
{'_id': 348, 'sum': 9}
{'_id': 251, 'sum': 8}
{'_id': 280, 'sum': 8}
{'_id': 236, 'sum': 8}
{'_id': 161, 'sum': 8}
{'_id': 323, 'sum': 8}
{'_id': 377, 'sum': 8}
{'_id': 3104, 'sum': 8}
{'_id': 326, 'sum': 8}
{'_id': 475, 'sum': 8}
{'_id': 128, 'sum': 8}
{'_id': 459, 'sum': 8}
{'_id': 167, 'sum': 7}
{'_id': 493, 'sum': 7}
{'_id': 405, 'sum': 7}
{'_id': 278, 'sum': 7}
{'_id': 311, 'sum': 7}
{'_id': 328, 'sum': 7}
{'_id': 430, 'sum': 6}
{'_id': 83, 'sum': 6}
{'_id': 440, 'sum': 6}
{'_id': 439, 'sum': 6}
{'_id': 407, 'sum': 6}
{'_id': 225, 'sum': 6}
{'_id': 414, 'sum': 6}
{'_id': 168, 'sum': 5}
{'_id': 539, 'sum': 5}
{'_id': 153, 'sum': 5}
{'_id': 3074, 'sum': 5}
{'_id': 247, 'sum': 5}
{'_id': 491, 'sum': 5}
{'_id': 160, 'sum': 5}
{'_id': 402, 'sum': 5}
{'_id': 483, 'sum': 5}
{'_id': 346, 'sum': 5}
{'_id': 368, 'sum': 5}
{'_id': 468, 'sum': 5}
{'_id': 266, 'sum': 5}
{'_id': 253, 'sum': 5}
{'_id': 536, 'sum': 4}
{'_id': 467, 'sum': 4}
{'_id': 358, 'sum': 4}
{'_id': 3058, 'sum': 4}
{'_id': 528, 'sum': 4}
{'_id': 380, 'sum': 4}
{'_id': 462, 'sum': 4}
{'_id': 406, 'sum': 4}
{'_id': 2000, 'sum': 4}
{'_id': 525, 'sum': 4}
{'_id': 469, 'sum': 4}
{'_id': 127, 'sum': 4}
{'_id': 383, 'sum': 4}
{'_id': 540, 'sum': 4}
{'_id': 248, 'sum': 3}
{'_id': 435, 'sum': 3}
{'_id': 444, 'sum': 3}
{'_id': 3055, 'sum': 3}
{'_id': 481, 'sum': 3}
{'_id': 284, 'sum': 3}
{'_id': 521, 'sum': 3}
{'_id': 2022, 'sum': 3}
{'_id': 486, 'sum': 3}
{'_id': 310, 'sum': 3}
{'_id': 3105, 'sum': 3}
{'_id': 453, 'sum': 3}
{'_id': 238, 'sum': 3}
{'_id': 454, 'sum': 3}
{'_id': 3093, 'sum': 3}
{'_id': 116, 'sum': 3}
{'_id': 523, 'sum': 3}
{'_id': 216, 'sum': 3}
{'_id': 494, 'sum': 3}
{'_id': 3142, 'sum': 3}
{'_id': 391, 'sum': 3}
{'_id': 403, 'sum': 3}
{'_id': 336, 'sum': 3}
{'_id': 526, 'sum': 2}
{'_id': 3147, 'sum': 2}
{'_id': 3103, 'sum': 2}
{'_id': 357, 'sum': 2}
{'_id': 369, 'sum': 2}
{'_id': 517, 'sum': 2}
{'_id': 2002, 'sum': 2}
{'_id': 3135, 'sum': 2}
{'_id': 496, 'sum': 2}
{'_id': 503, 'sum': 2}
{'_id': 252, 'sum': 2}
{'_id': 508, 'sum': 2}
{'_id': 3173, 'sum': 2}
{'_id': 546, 'sum': 2}
{'_id': 514, 'sum': 2}
{'_id': 274, 'sum': 2}
{'_id': 482, 'sum': 2}
{'_id': 3242, 'sum': 2}
{'_id': 212, 'sum': 2}
{'_id': 537, 'sum': 2}
{'_id': 3016, 'sum': 2}
{'_id': 3159, 'sum': 2}
{'_id': 470, 'sum': 2}
{'_id': 465, 'sum': 2}
{'_id': 3148, 'sum': 2}
{'_id': 474, 'sum': 2}
{'_id': 384, 'sum': 2}
{'_id': 416, 'sum': 2}
{'_id': 3064, 'sum': 2}
{'_id': 389, 'sum': 2}
{'_id': 3140, 'sum': 2}
{'_id': 281, 'sum': 1}
{'_id': 533, 'sum': 1}
{'_id': 509, 'sum': 1}
{'_id': 3244, 'sum': 1}
{'_id': 254, 'sum': 1}
{'_id': 239, 'sum': 1}
{'_id': 3158, 'sum': 1}
{'_id': 449, 'sum': 1}
{'_id': 2006, 'sum': 1}
{'_id': 262, 'sum': 1}
{'_id': 385, 'sum': 1}
{'_id': 3224, 'sum': 1}
{'_id': 420, 'sum': 1}
{'_id': 3052, 'sum': 1}
{'_id': 245, 'sum': 1}
{'_id': 3122, 'sum': 1}
{'_id': 456, 'sum': 1}
{'_id': 342, 'sum': 1}
{'_id': 3141, 'sum': 1}
{'_id': 3017, 'sum': 1}
{'_id': 3171, 'sum': 1}
{'_id': 434, 'sum': 1}
{'_id': 223, 'sum': 1}
{'_id': 3166, 'sum': 1}
{'_id': 3155, 'sum': 1}
{'_id': 282, 'sum': 1}
{'_id': 379, 'sum': 1}
{'_id': 359, 'sum': 1}
{'_id': 325, 'sum': 1}
{'_id': 3222, 'sum': 1}
{'_id': 335, 'sum': 1}
{'_id': 3229, 'sum': 1}
{'_id': 3223, 'sum': 1}
{'_id': 3088, 'sum': 1}
{'_id': 275, 'sum': 1}
{'_id': 373, 'sum': 1}
{'_id': 492, 'sum': 1}
{'_id': 242, 'sum': 1}
{'_id': 480, 'sum': 1}
{'_id': 3237, 'sum': 1}
{'_id': 3113, 'sum': 1}
{'_id': 522, 'sum': 1}
{'_id': 436, 'sum': 1}
{'_id': 3144, 'sum': 1}
{'_id': 244, 'sum': 1}
{'_id': 484, 'sum': 1}
{'_id': 243, 'sum': 1}
{'_id': 458, 'sum': 1}
{'_id': 300, 'sum': 1}
{'_id': 3154, 'sum': 1}
{'_id': 3059, 'sum': 1}
{'_id': 463, 'sum': 1}
{'_id': 298, 'sum': 1}
{'_id': 515, 'sum': 1}

In [73]:
pipeline[0]

{'$match': {'start station id': 279}}